<!DOCTYPE html>
<html lang="en" class="full-height" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!--/*/ <th:block th:include="fragments/stylesApp :: head"/> /*/-->

    <title>Home</title>

</head>

<body class="body-background">

<div th:include="fragments/navBar :: navbar"></div>


<!--Main Navigation-->
<div class="container flex-top">

    <div class="row">

        <div class="col-xs-12 col-md-8" >

            <h2>Planilla invalida</h2>
            <p>El pago de planilla para este termino ha sido completado para todos los colaboradores disponibles de este tipo de planilla</p>

        </div>


    </div>

</div>

<!--/Main Navigation-->

<th:block th:include="fragments/scripts :: scripts"/>

</body>
</html>