<!DOCTYPE html>
<html lang="en" class="full-height" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/stylesApp :: head"/> /*/-->
    <title>Planilla</title>
</head>
<body class="body-background">
<div th:include="fragments/navBar :: navbar"></div>
<!--Main Navigation-->
<main>
    <div class="container flex-top">
        <div class="card card-cascade">
            <div class="modal-body">
                <div class="col-md-12 p-3">
                    <div>
                        <div class="d-inline">
                            <h2 id="name" th:text="'Planillas creadas'"
                                class="mr-0 mb-0 font-weight-bold d-inline"></h2>
                        </div>
                    </div>
                    <div>
                        <p class="mb-0">Departamento de recursos humanos - Planillas</p>
                        <a href="/"
                           class="btn btn-grey mt-0 mx-3 right-element">
                            Salir
                        </a>

                    </div>

                    <div class="mt-5 col-md-12 px-0 table-responsive">
                        <table id="formulasList" class="table table-sm table-fixed">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Acciones</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="payroll,iterStat : ${payrolls}">
                                <td th:text="${iterStat.count}" class="block">1</td>
                                <td th:text="${payroll.name}" class="block">Juan Solis</td>
                                <td  class="block">
                                    <a href="">ver</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--/Main Navigation-->
<th:block th:include="fragments/scripts :: scripts"/>
</body>
</html>