<!DOCTYPE html>
<html lang="en" class="full-height" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!--/*/ <th:block th:include="fragments/stylesApp :: head"/> /*/-->

    <title>Planilla</title>

</head>

<body class="body-background">

<div th:include="fragments/navBar :: navbar"></div>


<!--Main Navigation-->
<main>

    <div class="container flex-top">

        <div class="card card-cascade">

            <div class="modal-body">

                <div class="col-md-12 p-3">

                    <div>


                        <div class="d-inline">

                            <h2 id="name" class="mr-0 mb-0 font-weight-bold d-inline">Planilla de Eneroxxx</h2>

                        </div>

                        <a href="/employee"
                           class="btn btn-warning mt-0 mx-3 right-element">
                            Pagar Planillaccccc
                        </a>

                    </div>

                    <div>
                        <p class="mb-0">Departamento de recursos humanos  planilla</p>
                        <p class="mb-0">Pago de Planilla de 1era Quincena</p>
                        <p class="mb-0">Fecha actual: 26 mar 2017</p>

                    </div>

                    <div class="mt-5">

                        <form class="form-inline">

                            <p class="col-sm-3 px-0">Fecha Inicial:
                                <input type="date"  required/></p>
                            <p class="col-sm-3 px-3">Fecha Final:
                                <input type="date"  required/></p>

                            <p class="col-sm-3 px-3">Fecha de Pago:
                                <input type="date" required/></p>


                            <button class="btn btn-warning btn-sm my-0" type="submit">Calcular Planilla</button>

                        </form>

                    </div>


                    <div class="mt-2 col-md-12 px-0 table-responsive">

                        <table id="formulasList" class="table table-sm table-fixed">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>#Colaborador</th>
                                <th>Cédula</th>
                                <th>Tipo</th>
                                <th>Cargo</th>
                                <th>Ultimopago</th>
                                <th>Horasexpectativa</th>
                                <th>Horasreales</th>
                                <th>SalarioBruto</th>
                                <th>TotalIngresos</th>
                                <th>SeguroSocial</th>
                                <th>SeguroEducativo</th>
                                <th>ISR</th>
                                <th>TotalEgreso</th>
                                <th>SalarioNeto</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr >
                                <td class="block" >Juan Solis</td>
                                <td class="block">1</td>
                                <td class="block">8-888-8888</td>
                                <td class="block">Permanente</td>
                                <td class="block">Gerente</td>
                                <td class="block">21 mar 2018</td>
                                <td class="block">48</td>
                                <td class="block">48</td>
                                <td class="block">1,500.00</td>
                                <td class="block">1,500.00</td>
                                <td class="block">100,00</td>
                                <td class="block">5,00</td>
                                <td class="block">10,00</td>
                                <td class="block">115,00</td>
                                <td class="block">1,375,00</td>

                            </tr>

                            </tbody>
                        </table>

                    </div>

                    <div th:include="fragments/navBar :: botonNavbar"></div>


                </div>

            </div>
        </div>

    </div>

</main>

<!--/Main Navigation-->

<th:block th:include="fragments/scripts :: scripts"/>

</body>
</html>