<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Planilla con calidad</title>

    <div th:replace="fragments/stylesheets">...</div></head>

<body>
<div th:replace="fragments/navigation :: navigation">...</div>


<!--<div class="container">-->

    <!--<h1 th:text="${employee.name}">Hello, world!</h1>-->

    <!--<h1 th:text="${employee.id}">Hello, world!</h1>-->

<!--</div>-->
<div th:replace="fragments/scripts">...</div>
</body>
</html>