<!DOCTYPE html>
<html lang="en" class="full-height" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!--/*/ <th:block th:include="fragments/stylesApp :: head"/> /*/-->

    <title>Home</title>

</head>

<body class="body-background">

<div th:include="fragments/navBar :: navbar"></div>


<!--Main Navigation-->
<div class="container flex-top">

    <div class="row">

        <div class="col-xs-12 col-md-8" >

            <h2>Todavía no has creado colaboradores</h2>
            <p>No tienes ningún usuario registrado en el sistema en estos momentos. Ingresa la información de tus colaboradores para llevar un control de sus pagos.</p>
            <a href="/employee" class="btn btn-warning m-0">Añadir Colaborador</a>

        </div>


    </div>

</div>

<!--/Main Navigation-->

<th:block th:include="fragments/scripts :: scripts"/>

</body>
</html>